@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
  font-family: 'Roboto', sans-serif;
}

input {
  padding: 5px;
}

button {
  border: none;
  padding: 10px 15px;
  background: blue;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  opacity: .7;
}

#header {
  background: black;
  height: 150px;
  display: flex;
  align-items: flex-end;
}

#navbar {
  color: white;
  font-size: 20px;
  list-style: none;
  display: flex;
  margin: 0 auto;
  width: fit-content;
  gap: 15px;
}

.navbar-item {
  padding: 5px 10px;
  cursor: pointer;
  user-select: none;
}

.navbar-item:hover {
  background: rgb(54, 54, 54);
}

.modal-popup {
  position: absolute;
  width: 600px;
  height: 400px;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 4px;
  padding: 10px;
}

.modal-popup form {
  width: 100%;
}

.modal-popup input {
  width: 100%;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.close {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 26px;
  height: 26px;
  opacity: 0.3;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close:hover {
  opacity: 1;
}

.close:before, .close:after {
  position: absolute;
  content: ' ';
  height: 26px;
  width: 2px;
  background-color: #333;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}